<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nama' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Deskripsi' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label 'Tanggal didirikan' %><br>
    <%= f.date_select :established %>
  </div>
  <div class="field">
    <%= f.label 'Lokasi' %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label 'Kontak' %><br>
    <%= f.text_area :contact %>
  </div>
  <div class="field">
    <%= f.label 'Kategori' %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
