<%= form_for @business, html: { class: 'form-horizontal' } do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Nama', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Kategori', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Deskripsi', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Tanggal didirikan', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.date_select :established, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Lokasi', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_area :location, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Kontak', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_area :contact, class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.button('Buat profil', class: 'btn btn-default btn-primary') %>
    </div>
  </div>
<% end %>
