<div id="category-list" class="col-md-2">
  <h2>Kategori</h2>
  <ul>
    <% @categories.each do |cat| %>
    <li><a href="/ukm?category=<%= cat.id %>" data-id='<%= cat.id %>'><%= cat.name %></a></li>
    <% end %>
    <li><a href="/">Semua</a></li>
  </ul>
</div>

<div id="ukm-list" class="col-md-10">
  <h1> UKM</h1>
  <% @businesses.each do |business| %>
    <div class="kotakan-ukm">
      <div class="item-ukm">
        <div class="img-thumbnail"><%= image_tag(business.photo.url) %></div>
        <p><h2><%= link_to business.name, business %></h2><div class="hr-divider"></div></p>
        <p style="text-align: justify; padding-right: 50px;"><%= truncate(business.description, length: 500, separator: ' ') { link_to ' baca selengkapnya', business} %></p>
      </div>
      <div class="styled">
        <progress value="<%= business.received %>" max="<%= business.target %>"></progress>
      </div>
      <div class="kotakan">
        <div class="persen">
          <p><strong><%= business.received/business.target*100 %>%</strong></p>
          <p><h5>Progress</h5></p>
        </div>  <div class="vr-divider"></div>
        <div class="terkumpul">
          <p><strong><%= number_to_currency(business.received) %></strong></p>
          <p><h5>Terkumpul</h5></p>
        </div>
        <div class="vr-divider2"></div>
        <div class="hari">
          <p><strong>
            <% if business.days_left %>
            <%= ((business.days_left - Time.now)/3600/24).round(0) %>
            <% else %>
            <%= 0 %>
            <% end %>
            </strong></p>
          <p><h5>Hari Tersisa</h5></p>
        </div>
      </div>
    </div>
  <% end %>

</div>
