<div class="img-profil">
  <%= image_tag @business.photo.url %>
</div>

<div class="content-ukm">

	<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#deskripsi" data-toggle="tab">Deskripsi</a></li>
    <li><a href="#profil-owner" data-toggle="tab">Profil Owner</a></li>
    <li><a href="#investor" data-toggle="tab">Investor</a></li>
    <li><a href="#komentar" data-toggle="tab">Komentar</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="deskripsi">
    	<div class="ukm-desc">
  		<div class="profil-title">
  		  <h1><%= @business.name %><br><small><%= @business.category.name %></small></h1>
  		</div>

  		<div class="profil-desc">
  		  <p><%= @business.description %></p>
  		  <p>Ukm dibuat pada <%= @business.established.to_formatted_s(:long) %></p>
  		</div>

  		<div class="profil-contact">
        <h2>Kontak</h2>
  		  <p>Lokasi usaha : <%= @business.location %></p>
  		  <p>Nomor telp/HP : <%= @business.phone %></p>
  		  <p>Email : <%= @business.email %></p>
  		</div>

  		<% if @business.user == current_user %>
  		<%= link_to 'Edit', edit_business_path(@business) %>
  		<% end %>
  	</div></div>
    <div class="tab-pane" id="profil-owner">
    	<div class="content-wrapper">
        <div class="avatar-profile">
      		<%= image_tag @business.user.avatar.url %>
        </div>
        <div>
          <p><%= link_to @business.user.name, @business.user %></p>
          <p><%= @business.user.email %></p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="investor">
    	<div class="content-wrapper">
      		<h3>Daftar Investor</h3>
      </div>
    </div>
    <div class="tab-pane" id="komentar">
    	<div class="content-wrapper">
      		<h3>Komentar</h3>
      </div>
    </div>
  </div>

	<div class="ukm-stats">
		<div class="styled">
			<progress value="<%= @business.received %>" max="<%= @business.target %>"></progress>
		</div>

      <div class="persen">
        <p><strong><%= @business.received/@business.target*100 %>%</strong></p>
        <p><h5>Progress</h5></p>
      </div>
      <div class="vr-divider2"></div>
      <div class="terkumpul">
        <p><strong><%= @business.received %> juta</strong></p>
        <p><h5>Terkumpul</h5></p>
      </div>
      <div class="vr-divider2"></div>
      <div class="hari">
        <p><strong>
          <% if @business.days_left %>
          <%= ((@business.days_left - Time.now)/3600/24).round(0) %>
          <% else %>
          <%= 0 %>
          <% end %>
        </strong></p>
        <p><h5>Hari Tersisa</h5></p>
      </div>

    <div class="ukm-profit">
		<h3>Keuntungan UKM</h3>
		<p>1 juta / tahun</p>
	</div>

	<div class="ukm-reward">
		<h3>Reward</h3>
		<h4>Bronze</h4>
		<h4>Gold</h4>
		<h4>Rhodium</h4>
	</div>

	</div>



	<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>

</div>
