<p id="notice"><%= notice %></p>

<div class="img-profil">
  <%= image_tag @business.image_url %>
</div>

<p>
  <strong>Nama:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @business.category.name %>
</p>
<p>
  <strong>Deskripsi:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Terbentuk sejak:</strong>
  <%= @business.established %>
</p>

<p>
  <strong>Kontak:</strong>
  <%= @business.contact %>
</p>

<%= link_to 'Kembali ke halaman sebelumnya', businesses_path %>
