<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @business.category.name %>
</p>
<p>
  <strong>Deskripsi:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Terbentuk sejak:</strong>
  <%= @business.established %>
</p>

<p>
  <strong>Kontak:</strong>
  <%= @business.contact %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
