<div class="img-profil">
  <%= image_tag @business.image_url %>
</div>

<div class="profil-title">
  <h1><%= @business.name %><br><small><%= @business.category.name %></small></h1>
</div>

<div class="profil-desc">
  <p><%= @business.description %></p>
  <p>Ukm dibuat oleh <%= link_to @business.user.name, @business.user %>, pada tanggal <%= @business.established %></p>
</div>

<div class="profil-contact">
  <p>Lokasi usaha : <%= @business.location %></p>
  <p>Nomor telp/HP : <%= @business.phone %></p>
  <p>Email : <%= @business.email %></p>
</div>

<% if @business.user == current_user %>
  <%= link_to 'Edit', edit_business_path(@business) %>
<% end %>
