<div class="kotakan-daftar">
  <h1>Masuk</h1>
</div>

<div class="kotakan-form">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path, html: { class: "form-horizontal" }) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Email", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="actions form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <%= f.button("Masuk", { class: "btn btn-lg btn-primary" }) %>
        </div>
      </div>
    <% end %>

    <p>Tidak punya akun?<%= link_to " Daftar sekarang!", signup_path %></p>
  </div>
</div>
</div>