<div class="profil">
  <div class="avatar-profil">
    <%= image_tag @user.avatar.url %>
  </div>

  <div class="profil-pengguna">
    <h3>Profil</h3>
    <p>
      <strong>Nama:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Tanggal lahir:</strong>
      <%= @user.birthday.to_formatted_s(:long) %>
    </p>
    <% if logged_in? && current_user == @user %>
      <p>
        <%= link_to 'Buat usaha', new_business_path %>
      </p>
    <% end %>
  </div>
</div>

<div class="usaha-lain">
  <h3>Usaha milik <%= @user.name %></h3>
  <% @businesses.each do |business| %>
      <div class="usaha-thumbnail">
        <%= image_tag business.photo.url %>
        <%= link_to business.name, business %>
      </div>
      <p>
      </p>
  <% end %>
</div>

